.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: var(--secondary-color);
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--shadowBox-6);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px var(--shadowBox-2);
}

.nav-menu li {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-menu li:hover {
    color: var(--primary-color);
}
