:root {
    --primary-color: #007bff;
    --secondary-color: #ffffff; 
    --p-color: #666;
    --background-color-1: #f5f5f5;
    --background-color-2: #007bff;
    --background-color-deg: #007bffb4;
    --background-color-contact: #333;
    --background-color-contactform: #444;
    --background-color-placeholder: #bbb;
    --shadowBox-2: rgba(0, 0, 0, 0.2);
    --shadowBox-3: rgba(0, 0, 0, 0.3);
    --shadowBox-4: rgba(0, 0, 0, 0.4);
    --shadowBox-5: rgba(0, 0, 0, 0.5);
    --shadowBox-6: rgba(0, 0, 0, 0.6);
    --shadowBox-7: rgba(0, 0, 0, 0.7);
    --shadowBox-8: rgba(0, 0, 0, 0.8);
    --shadowBox-9: rgba(0, 0, 0, 0.9);
}