.why-choose-us {
    background: var(--background-color-1);
    padding: 50px 20px;
    position: relative;

    .carousel-controls {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 20px;

        button {
            background: var(--background-color-2);
            color: var(--secondary-color);
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s ease;

            &:hover {
                background: var(--background-color-2);
            }
        }
    }

    .why-container {
        display: none;
        flex: 1;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        gap: 20px;
        height: 500px;

        .why-content {
            flex: 1;
            max-width: 500px;

            h2 {
                font-size: 2rem;
                margin-bottom: 15px;
                color: var(--primary-color);
                text-transform: uppercase;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 20px;
                color: var(--p-color);
            }

            .btn-why {
                background: var(--background-color-2);
                color: var(--secondary-color);
                border: 1px solid var(--background-color-2);
                padding: 10px 20px;
                border-radius: 20px;
                text-decoration: none;
                font-weight: bold;
                transition: transform 0.3s ease, background 0.3s ease;
            
                &:hover {
                    background: var(--background-color-1);
                    color: var(--primary-color);
                    transform: scale(1.05);
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
                }
            }
        }

        .why-image {
            flex: 1;
            max-width: 400px;
            position: relative;

            img {
                width: 100%;
                border-radius: 20px;
            }

            .overlay {
                position: absolute;
                bottom: 10%;
                right: -5%;
                width: 150px;
                height: 200px;
                background: #007bffb4;
                border-radius: 20px;
            }
        }
    }

    /* Afficher le premier container par défaut */
    .why-container:first-child {
        display: flex;
    }
}

@media (max-width: 768px) {
    .why-choose-us {
        display: flex;
        flex-direction: column;
        height: 700px;

        .why-container {
            display: flex;
            flex-direction: column;
        }
    }
}
